*{
    margin: 0;
}
/* #region body */
body>main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 24px;
}
body>main>h2{
    font-size: 24px;
    font-weight: 600;
    color: #2A5B45;
}
body>main>div{
    display: flex;
    align-items:center;
    padding: 8px;
    gap: 24px;
}
body>main>div>article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 24px;
}
body>main>div>aside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 24px;
    background-color: #F7F5F3;;
}
/* #endregion */

/* #region articulos */
#productos>h3{
    font-size: 18px;
    font-weight: 600;
}
/*=========Envíos========*/
#productos>section{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}
#productos>section>input{
    background-color: #2A5B45;
}
#productos>section>div{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#productos>section>div>p{
    font-size: 14px;
    font-weight: 400;
}
/*========Productos==========*/
.producto{
    display: flex;
    gap: 24px;
}
.producto>.cantidad{
    display: flex;
    align-items: center;
    gap: 8px;
}
.producto>.cantidad>div>p{
    font-size: 12px;
    font-weight: 400;
    color: #2A5B45;
}
.producto>.cantidad>section{
    background: rgba(42, 91, 69, 0.1);
    border-radius: 200px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.producto>.cantidad>div{
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.producto>img{
    width: 55.66px;
}

.producto>.infoProducto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 506.34px;
}
.producto>.infoProducto>p:first-child{
    font-size: 14px;
    font-weight: 600;
}
.producto>.infoProducto>p:last-child{
    font-size: 14px;
    font-weight: 400;
}
/* #endregion  */

/* #region operacion cesta */
#prize{
    padding: 24px;
    width: 384px;
    height: 280px;
    display: flex;
    flex-direction: column;
    gap:16px;
}
.separador{
    height: 1px;
    width: 100%;
    background-color: #E3DED7;
}
#prize>h3{
    font-size: 18px;
    font-weight: 600;
}
#prize>section{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#prize>section>p:first-child{
    font-size: 14px;
    font-weight: 400;
}
#prize>section>p:last-child{
    font-size: 14px;
    font-weight: 600;
}

#prize>div{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
#cestaCheckout{
    width: 129px;
    height: 40px;
    padding: 12px 24px;
    border: 0;
    color: white;
    background: #2A5B45;
    border-radius: 4px;
}
#cestaSeguirComprando{
    width: 165px;
    height: 40px;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    color:#2A5B45;
    font-size: 14px;
    font-weight: 600;
}

/* #endregion */