*{
    font-family: 'Outfit', sans-serif;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    /* width: 1280px; */
}
#head{
    display:flex;
    flex-direction: column;
}
/*#region NavBar*/
#navBar{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    background-color: #2B2A2B;
    padding: 12px 40px;
}
#navBar>section{
    display: flex;
    align-items: center;
    gap: 24px;
}
#navBar>section>div>a{
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    font-size: 23.46px;
    color: white;
}
#navBar>section:nth-child(2)>div:hover{
    padding: 6px;
    border-radius: 10px;
    background-color: #3F3E3F;
}
#navBar>section:first-child{
    display: flex;
    gap: 7px;
}
#navBar>section:first-child>div:nth-child(2)>img{
    height: 24.95px;
    width: 20.29px;
}
#navBar>section:nth-child(2){
    display: flex;
    gap: 16px;
    align-items: center;
}
#navBar>section:nth-child(2)>div>a{
    gap: 8px;
    font-size: 14px;
}
#navBar>section:nth-child(3){
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#navBar>section:nth-child(3)>div:nth-child(1){
    display: flex;
}
#navBar>section:nth-child(3)>div:nth-child(1)>a{
    font-size: 14px;
    color: white;
}
#navBar>section:nth-child(3)>div:nth-child(1)>img{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
#navBar>section:nth-child(3)>div:nth-child(2)>input{
    border-radius: 4px;
    background-color: #515051;
    border:0 ;
    color: white;
    font-size: 16px;
    height: 32px;
    width: 130px;
}
/*#endregion */

/*#region Articulo e imagen en el header*/
#head>section{
    background-color: #E3DED74D;
}
#secTittle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:48px 40px;
    gap: 24px;
}
#secTittle>article{
    display:flex;
    flex-direction: column;
    width: 588px;
    gap: 16px;
}
#secTittle>article>h3{
    font-size: 18px;
    font-weight: 600;
    color: #2A5B45;
    height: 24px;
    margin: 0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#secTittle>article>h1{
    font-size: 40px;
    font-weight: 600;
    color: black;
    margin: 0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#secTittle>article>p{
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin: 0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#secTittle>article>div{
    display: flex;
    gap: 16px;
    margin: 0;
}
#secTittle>article>div>input:nth-child(1){
    height: 40px;
    width: 168px;
    margin: 0;
    border: 0;
    border-radius: 4px;
    color: white;
    background-color: #1F1815;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#secTittle>article>div>input:nth-child(2){
    height: 40px;
    width: 137px;
    margin: 0;
    border: 0;
    border-radius: 4px;
    color: white;
    background-color: #2A5B45;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#head>section>div>aside>img{
    flex: 0 0 588px;
    /* width: 588px; */
    height: 390px;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
/*#endregion*/

/*#region imagenen fondo café*/
#cajitas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-image: url(img/cafe.jpg);
    padding: 48px 142px;
    background-size:cover;
    background-position: center;
}
#cajitas>h2{ /*Titulo*/
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin: 0;
}
#cajitas>section{
    display: flex;
    justify-content: center;
    align-items:stretch;
    gap: 24px;
}
#cajitas>section>div{ /*Cajitas*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    flex:0 0 316px;
    
    /* width: 316px; */
    /* height: 232px;  */
    
    background-color: white;
    border: 1px solid #F7F5F3;
    box-shadow: 0px 1px 4px rgba(227, 222, 215, 0.8);
    border-radius: 8px;
}
#cajitas>section>.cajitaGrande{
    padding: 24px;
}
#cajitas>section>.cajitaPequeña{
    padding: 40px 24px;
}
#cajitas>section>div>div{ /*imagen cajitas*/
    background-color: #2A5B45;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* width: 47px;
    height: 47px;     */
    
    border-radius: 20px;
    padding: 12px;
}
#cajitas>section>div>div>img{ /*imagen cajitas*/
    width: 64px;
    height: 64px;    
}
#cajitas>section>div>h3{ /*subtitulo*/
    color: #2B2A2B;
    font-size: 18px;
    font-weight: 600;
}
#cajitas>section>div>p{ /*párrafo*/
    color: #2B2A2B;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

/*#endregion*/

/*#region Bolsas de café*/
#bolsasCafe>section{
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    gap: 40px;
    padding: 40px 0 ;
}
#bolsasCafe>section>h2{
    font-size: 24px;
    font-weight: 500;
    color: #2A5B45;
}
#bolsasCafe>section>#News{
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
main>section>div{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
main>section>div>article{
    height: 391.39px;
    width: 282px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border: 1px solid #E3DED7;
    border-radius: 8px;
    padding-top: 24px;
    box-shadow: 0 4px 4px rgba(216, 211, 211, 0.5);
}
main>section>div>p:nth-child(2){
    font-size: 14px;
    font-weight: 400;
}
main>section>div>article>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
main>section>div>article>div>input{
    background-color: transparent;
    border-color: transparent;
    font-size: 14px;
    font-weight: 600;
}
main>section>div>article:hover{
    background-color: #F7F5F3;
}
main>section>div>article>.masProducto{
    background-color: #2A5B45;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}
main>section>div>article>input:hover{
    background-color: #2A5B45B2;
}
main>section>div>article>div>p{
    margin: 0;
}
main>section>article{
    display: flex;
    align-items: center;
    gap: 16px;
}
main>section>article>a{
    font-size: 14px;
    font-weight: 600;
    height: 16px;
    width: 61px;
    color:black;
}
main>section>article>a>img{
    height: 8px;
    width: 18px;
    border-radius: 0px;
}
/*#endregion*/

/*#region faq*/
#faq{
    background-color: #2A5B45;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:48px 386px;
    gap: 24px;
}
#faq>h2{
    color: white;
    font-size: 24px;
    font-weight: 500;
}
#faq>article{
    display: flex;
    align-items:center;
    gap: 16px;
}
#faq>article>a{
    color: white;
    font-size: 14px;
    font-weight: 600;
}
/*preguntas*/
#faq>main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
#faq>main>article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    gap: 16px;

    /* flex: 0 0 688px; */
    width: 668px;
    padding: 24px;
    /* gap: 16px; */
    border-radius: 10px;
}
#faq>main>article>div{
    width: 100%;
}
#faq>main>article>div>.separador{
    height: 1px;
    width: 100%;
    background-color: #E3DED7;
    margin-bottom: 16px;
}
#faq>main>article>section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 668px;
}
#faq>main>article>section>img{
    cursor: pointer;
}
#faq>main>article>div>h3{
    font-size: 18px;
    font-weight: 600;
}
#faq>main>article>div>p{
    font-size: 13px;
    font-weight: 400;
}
/*#endregion*/

/*#region info*/
#info>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 45px 40px;
}
#info>div>section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;

    width: 588px;
    /* margin: 137px 24px 137px 0; */
}
#info>div>section>h2{
    color: #2A5B45;
}
#info>div>section>p{
    color: #111827;
}
#info>div>section>article{
    display: flex;
    align-items: center;
    gap: 16px;
}
#info>div>section>article>a{
    color: #111827;
    font-size: 14px;
    font-weight: 600;
}
#info>div>aside{
    width: 588px;
}
#info>div>aside>img{
    flex: 0 0 588px;
    height: 390px;
    /* width: 588px; */
    border-radius: 20px;
}
/*#endregion*/

/*#region Form*/
#formPage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:#E3DED7;
}
#formPage>article{
    margin: 0;
    background-color:#E3DED7;
}
#formPage>article>div{
    margin: 116px 24px 116px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
#formPage>article>div>header{
    display: flex;
    flex-direction:column;
    gap: 24px;
}
#formPage>article>div>header>h3{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
#formPage>article>div>header>p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 32px;
    color: #6B7280;
    margin: 0;
}
#formPage>article>div>main{
    display: flex;
    flex-direction:column;
    gap: 24px;
}
#formPage>article>div>main>p{
    font-size: 14px;
    font-weight: 400;
    color: #6B7280;
    margin: 0;
}
#formPage>article>div>main>div{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#formPage>article>div>main>div>p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: #6B7280;
}
#formPage>article>div>main>p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: #6B7280;
}
#formPage>article>div>main>p>a{
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: #2B2A2B;
}
/*============= Parte de la drch ===============*/
#formPage>aside{
    margin-right: 40px;
    background-color: white;
}
#formPage>aside>form{
    display: flex;
    flex-direction: column;
    margin: 32px 51px 32px 67px;
    gap: 24px;
}
#formPage>aside>form>div>label{
    font-size: 12px;
    font-weight: 400;
}
#formPage>aside>form>div:nth-child(1)>input{
    border:1px solid #D1D5DB;
    /* box-shadow:0px 1px 2px rgba(0, 0, 0, 0.5);*/
    border-radius: 6px;
    height: fit-content;
    padding: 9px 13px;
    color: #6B7280;
    width: 100%;
}
#formPage>aside>form>div:nth-child(2)>input{
    border:1px solid #D1D5DB;
    /* box-shadow:0px 1px 2px rgba(0, 0, 0, 0.5);*/
    border-radius: 6px;
    height: fit-content;
    padding: 9px 13px;
    width: 100%;
}
#formPage>aside>form>div:nth-child(3)>select{
    border:1px solid #D1D5DB;
    /* box-shadow:0px 1px 2px rgba(0, 0, 0, 0.5);*/
    border-radius: 6px;
    border-width: 1px;
    margin-right: 0;
}
#formPage>aside>form>div:nth-child(3)>input{
    border:1px solid #D1D5DB;
    /* box-shadow:0px 1px 2px rgba(0, 0, 0, 0.5);*/
    border-radius: 6px;
    border-width: 1px 1px 1px 0;
    width: 80%;
    height: fit-content;
    padding: 9px 13px;
    margin-left: 0;
}
#formPage>aside>form>div:nth-child(4)>textarea{
    border:1px solid #D1D5DB;
    /* box-shadow:0px 1px 2px rgba(0, 0, 0, 0.5);*/
    border-radius: 6px;
    width: 100%;
    padding: 13px 17px;

    color: #6B7280;
    margin: 0;
}
#formPage>aside>form>div:nth-child(4)>textarea:hover{
    border: 1px solid #9B9EA3;
}
#formPage>aside>form>div:nth-child(4)>textarea:focus{
    border: 2px solid #3F8F6B;
}
#formPage>aside>form>div>input:hover{
    border: 1px solid #9B9EA3;
}
#formPage>aside>form>div>input:focus{
    border: 2px solid #3F8F6B;
}
#formPage>aside>form>div:nth-child(5){
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0;
}
#formPage>aside>form>div:nth-child(5)>input{
    height: 20px;
    width: 16px;
}
#formPage>aside>form>div:nth-child(5)>p{
    font-size: 14px;
    font-weight: 400;
    color: #374151;;
}
#formPage>aside>form>div:nth-child(5)>p>a{
    font-size: 14px;
    font-weight: 600;
    color: #2B2A2B;
}
#formPage>aside>form>button{
    width: 90px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #2A5B45;
    border: 0;
    border-radius: 4px;
    margin: 0;
    cursor: pointer;
}
#formPage>aside>form>button:hover{
    background-color: #3F8F6B;
}
/*#endregion*/

/*#region Footer*/
body>footer{
    height: 310px;
    background-color:#1F1815;
    display: flex;
    align-items: center;
    justify-content: center;
}
body>footer>div{
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 204px;
}
body>footer>div>section{
    display: flex;
    align-items: center;
}
body>footer>div>section>div:first-child>a{
    color: white;
    text-decoration: none;
    margin-right: 5px;
}
body>footer>div>article{
    display: flex;
    justify-content: space-between;
    margin-right:68px;
}
body>footer>div>article>aside:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right:68px;
    gap: 16px;
}
body>footer>div>article>aside:first-child>p{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
body>footer>div>article>aside:first-child>div:nth-child(2){
    border-radius: 4px;
    width: 182px;
    height: 48px;
    border: 0;
    background-color: #515051;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
body>footer>div>article>aside:first-child>div:last-child{
    border-radius: 4px;
    width: 232px;
    height: 48px;
    border: 0;
    background-color: #515051;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
body>footer>div>article>aside:nth-child(2){
    margin-left: 125px;
}
body>footer>div>article>aside:nth-child(2)>section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}
body>footer>div>article>aside:nth-child(2)>section>a{
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
}
body>footer>div>article>aside:nth-child(3){
    margin-right: 200px;
}
body>footer>div>article>aside:nth-child(3)>section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}
body>footer>div>article>aside:nth-child(3)>section>a{
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
}
body>div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B2A2B;
}
body>div>p{
    color: white;
    margin: 10px 0;
}


/*#endregion*/
