@font-face {
    font-family: Outfit;
    src: url(assets\fonts\outfit/Outfit-VariableFont_wght.ttf);
}
#head{
    display:flex;
    flex-direction: column;
}
#navBar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 12px 40px 12px 40px;
}
#navBar>section{
    display: flex;
}
#navBar>section>div>a{
    text-decoration: none;
    font-family:Outfit;
    font-size: 23.46px;
    color: white;
}
#navBar>section:nth-child(2){
    gap: 20px;
}
#navBar>section:nth-child(2)>div>a{
    font-size: 14px;
}
#navBar>section:nth-child(3){
    gap: 20px;
}
#secTittle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
#secTittle article{
    display:flex;
    flex-direction: column;
    width: 588px;
    height: 232px;
}

#imgPlantaCafe{
    width: 588px;
    height: 390px;
    border-radius: 20px;
}